body{background-color:burlywood;
	width: 1000px;
	 margin-left:100px;
	}
header section{display: flex;
	justify-content: center;
	
}
h1{text-shadow: 02px 04px 03px black ;
	box-shadow: 05px 12px black;
	background-color: gray;
	border-radius:20px;
	color: white;
}
.circle{width: 150px;
	height: 150px;
	border-radius:50%;
	overflow: hidden;
	border: 4px solid #333;
	box-shadow: 04px 10px rgba(0, 0, 0, 0.3);    

}
.profil img{width: 100%;
	height: 100%;	
	
}
h2{margin: 10px;
	padding:10px;
	border-radius:5px;
	background-color: white;
	box-shadow: 04px 10px rgba(0, 0, 0, 0.3);
}
.menu{display:inline-flex;
	list-style: none;
}
.menu li:hover{color:red;
	text-transform: uppercase;
}

.menu li{margin-left:100px;
	color: darkblue;
	font-variant: small-caps;
	font-weight: bolder;
}
#ligne a{text-decoration: none;}
.imm{float:left;
	 margin: 10px;
	 border-radius:20px;}
#but-top{position: fixed;
	bottom: 30px;
	right: 30px;
	width: 45px;
	height: 45px;
	border-radius:50%;
	background-color: deepskyblue;
	font-size: 30px;
	color: white;
}
